@model SoldProduct

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductsCount" class="control-label"></label>
                <input asp-for="ProductsCount" class="form-control" min="1"/>
                <span asp-validation-for="ProductsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoldPrice" class="control-label"></label>
                <input asp-for="SoldPrice" class="form-control" min="1" />
                <span asp-validation-for="SoldPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Product</label>
                <select asp-for="ProductId" asp-items="@ViewBag.Products" class="form-control">
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleId" class="control-label">Sale</label>
                <select asp-for="SaleId" asp-items="@ViewBag.Sales" class="form-control">
                </select>
                <span asp-validation-for="SaleId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-action="Index" class="btn btn-secondary btn-sm">Back</a>
</div>

