@model Models.Models.Categor.IncreasePrice

@{
    ViewData["Title"] = "Increase Price";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IncreasePrice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <label asp-for="PerCent" class="control-label"></label>
                <input asp-for="PerCent" class="form-control" min="1"/>
                <span asp-validation-for="PerCent" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Increase" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-secondary btn-sm">Back</a>
</div>
