@model Models.Models.Storage.Order

@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Order">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageId" class="control-label"></label>
                <input asp-for="StorageId" class="form-control" />
                <span asp-validation-for="StorageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCount" class="control-label"></label>
                <input asp-for="ProductCount" class="form-control" />
                <span asp-validation-for="ProductCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
